<div class="app-header row">
    <div class="col-md-2 col-sm-1 app-file-uploader-wrapper">
        <json-file-uploader on-file-load="$ctrl.handleFile(file)"></json-file-uploader>
    </div>
    <div class="col-md-8 col-sm-8 app-filters-wrapper row">
        <text-filter class="app-title-filter" label="'Title'" value="filter.title"></text-filter>
        <text-filter label="'Price'" value="filter.price"></text-filter>
        <text-filter label="'Rating'" value="filter.rating"></text-filter>
    </div>
    <div class="col-md-2 col-sm-3 btn-group btn-group-sm">
        <button type="button" class="btn btn-success" ng-click="$ctrl.filter()">Filter</button>
        <button type="button" class="btn btn-warning" ng-click="$ctrl.clearFilters()">Reset</button>
    </div>
</div>
