html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

food-menu {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-main-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #dddddd;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
}

.app-table-header th{
  position: sticky;
  background-color: white;
  top: 46px;
  z-index: 1;
}

.app-filters-wrapper {
  display: flex;
  justify-content: space-between;
}

.app-file-uploader-wrapper {
  display: flex;
  justify-content: flex-end;
}

.app-table-wrapper {
  padding-left: 24px;
  padding-right: 24px;
}

.app-table {
  width: 800px;
}

.app-title-filter {
  flex: 1;
}

[hidden] {
  display: none !important;
}
