html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

food-menu {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-main-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #efefef;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #dfdfdf;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  height: 50px;
}

.app-table-header th{
  position: sticky !important;
  background-color: white;
  top: 51px;
  z-index: 1;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.app-column-sortable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.app-filters-wrapper {
  display: flex;
  justify-content: space-between;
}

.app-file-uploader-wrapper {
  display: flex;
  justify-content: flex-end;
}

.app-table {
  width: 800px;
}

.app-title-filter {
  flex: 1;
}

.app-table-wrapper {
}

[hidden] {
  display: none !important;
}
