html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

food-menu {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-main-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.app-table {
  position: relative;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 8px 24px 8px 24px;
  display: flex;
}

.app-table-wrapper {
  width: 800px;
  margin: auto;
  box-sizing: border-box;
}

.app-table-header th{
  position: sticky;
  background-color: white;
  border: 1px solid #ccc;
  top: 46px;
  z-index: 1;
}

.app-filters-wrapper {
  display: flex;
}

[hidden] {
  display: none !important;
}
